.hero-bg {
  background-image: url("../../assets/contact-us-bg-mobile.png");
  height: 12rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 768px) {
  .hero-bg {
    background-image: url("../../assets/contact-us-bg.svg");
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.contactus-banner {
  background-image: url("../../assets/contact-banner-mobile.png");
  height: 19rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media only screen and (min-width: 768px) {
  .contactus-banner {
    background-image: url("../../assets/contact-banner-desktop.svg");
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
}
